body{
    margin: 0;
    font-family:'Barlow', sans-serif;
}

/*Desplegable superior izq*/

.desplegable{
    z-index: 999;
    float: left;
    margin-left: 10px;
    width: 150px;
}
.desplegable span .mujer{
    font-size: 13px;
    float: left;
    margin-right: 5px;
}
.desplegable span .hombre{
    font-size: 13px;
    float: left;
    padding-left: 5px;
    border-left: 0.5px solid gray;
    color: gray;
}
.desplegable ul{
    padding-left: 5px;
    list-style: none;
}
.desplegable ul li{
    font-size: 17px;
    margin: 0 0 5px 0;
    list-style: none;
}
.desplegable ul .negrita{
    font-weight: bold;
}
.desplegable ul .naranja{
    color: #f3a05c;
}

/*LOGO CENTRAL*/
.logo{
    display: inline;
}
.logo img{
    display: block;
    margin: auto;
    height: 80px;
}

/*Buscar*/
.buscar img{
    float: right;
    height: 70px;
    margin-right: 5px;
    top: 0px; 
}

/*Catálogo*/
.catalogo{
    position: relative;
    width: 100%;
    height: 100%;

}
.catalogo .articulo{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.catalogo .articulo .imgs{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    height: 100%;
}
.catalogo .articulo .imgs .img{
    width: 400px;
    height: 550px;
    margin: 50px;
    
}
.catalogo .articulo .imgs .img-1{
    background-image: url(./1.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-1 .texto{
    margin: 50px;
    
}
.catalogo .articulo .imgs .img-2{
    background-image: url(./2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-3{
    background-image: url(./3.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-4{
    background-image: url(./4.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-5{
    background-image: url(./5.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}

.catalogo .articulo .imgs .img-1:hover{
    background-image: url(./1.2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-2:hover{
    background-image: url(./2.2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-3:hover{
    background-image: url(./3.2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-4:hover{
    background-image: url(./4.2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}
.catalogo .articulo .imgs .img-5:hover{
    background-image: url(./5.2.png);
    background-repeat: no-repeat;
    background-size: 400px 550px;
    cursor: pointer;
}

/*Descuento*/

.descuento{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-top: 100px;
}

.descuento h3{
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
    padding-left: calc(50% - 120px);
    margin-bottom: 0px;
}
.descuento h4{
    font-weight: lighter;
    font-size: 25px;
    padding-left: calc(50% - 180px);
    margin: 15px 0 20px 0;
}
.descuento label{
    font-size: 10px;
    font-weight: lighter;
    padding-left: calc(50% - 30px);
}
.descuento input{
    background-color: white;
    border: none;
    border-bottom: 1px solid black;
    margin-left: calc(50% - 225px);
    width: 450px;
    margin-bottom: 40px;
}
/*Contacto*/
.contacto{
    border-bottom: 1px solid #dddddd;
}
.contacto p{
    font-weight: lighter;
    font-size: 10px;
    padding-left: calc(50% - 16px);
    margin: 25px 0 10px 0;
}
.contacto h6{
    font-weight: lighter;
    font-size: 10px;
    padding-left: calc(50% - 60px);
    margin: 25px 0 10px 0;
}


.contacto .span{
    padding-left: calc(50% - 158px);
    margin: 25px 0 10px 0;
}
span img{
    height: 30px;
    margin-left: 10px;
}
.space1{
    padding-right: 15px;
    border-right: 1px solid black;
    color: rgb(140, 235, 187);
}
.space{
    padding-right: 15px;
    padding-left: 10px;
    border-right: 1px solid black;
    padding-left: 15px;
 
}
.space a{
    text-decoration: none;
    color: black;
}
.space2 {
    padding-left: 15px;
}
.space2 a{
    text-decoration: none;
    color: black;
}


footer div img{
    width: 100%;
}